name: Lint

concurrency:
  group: ${{ github.workflow }}-lint-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    name: Run Code Style Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install dependencies
        uses: ./.github/actions/install-deps

      - name: Check Format
        run: pnpm prettier --check --ignore-unknown .

      - name: Lint
        run: pnpm ng lint
