name: Build

concurrency:
  group: ${{ github.workflow }}-build-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    name: Run Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install dependencies
        uses: ./.github/actions/install-deps

      - name: Build library
        run: pnpm ng build ngx-signal-store-query --configuration=production

      - name: Build demo application
        run: pnpm ng build demo --configuration=production --progress=false --verbose

      - name: Upload build artefacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-artefacts
          path: dist/
          retention-days: 7
