name: E2E

concurrency:
  group: ${{ github.workflow }}-e2e-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:

permissions:
  contents: read

jobs:
  e2e:
    name: Run E2E Tests
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.58.0-noble
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        browser: ['chromium', 'firefox', 'webkit']
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install dependencies
        uses: ./.github/actions/install-deps

      - name: Run tests
        env:
          HOME: /root
        working-directory: apps/demo-e2e
        run: pnpm playwright test --project=${{ matrix.browser }}

      - name: Upload test report
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: playwright-${{ matrix.browser }}-report
          path: |
            apps/demo-e2e/playwright-report/
            apps/demo-e2e/test-results/
          retention-days: 7
