name: autofix.ci

concurrency:
  group: ${{ github.workflow }}-autofix-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  autofix:
    name: Run Autofix
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install dependencies
        uses: ./.github/actions/install-deps

      - name: Fix linting issues
        continue-on-error: true
        run: pnpm ng lint --fix

      - name: Fix formatting issues
        continue-on-error: true
        run: pnpm prettier --write --ignore-unknown .

      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8 # v1.3.3
        with:
          fail-fast: false
          commit-message: 'chore(autofix): apply automated fixes'
