name: release-mirror

concurrency:
  group: ${{ github.workflow }}-release-mirror-${{ github.ref }}
  cancel-in-progress: false

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-beta.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-next.[0-9]+'
  workflow_dispatch:
    inputs:
      version:
        description: Version to publish (must match an existing release tag in vX.Y.Z format, e.g., v0.8.0)
        required: true
      reason:
        description: Why was the workflow triggered manually?
        required: true
        type: string

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  publish-github-mirror:
    runs-on: ubuntu-latest
    env:
      TAG_REF: ${{ (github.event_name == 'workflow_dispatch' && format('refs/tags/{0}', inputs.version)) || github.ref }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          ref: ${{ env.TAG_REF }}

      - name: Install dependencies
        uses: ./.github/actions/install-deps
        with:
          registry-url: 'https://npm.pkg.github.com'

      - name: Build
        shell: bash
        run: pnpm ng build ngx-signal-store-query --configuration=production

      - name: Copy extra files
        shell: bash
        run: |
          cp LICENSE dist/libs/ngx-signal-store-query/LICENSE
          cp README.md dist/libs/ngx-signal-store-query/README.md

      - name: Transform package.json
        working-directory: dist/libs/ngx-signal-store-query
        shell: bash
        run: |
          TEMP_FILE=$(mktemp)
          jq '.name="@k3nsei/ngx-signal-store-query-core" | del(.publishConfig)' ./package.json > "${TEMP_FILE}"
          mv "${TEMP_FILE}" package.json

      - name: Publish package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: dist/libs/ngx-signal-store-query
        shell: bash
        run: npm publish --registry="https://npm.pkg.github.com" --scope="@k3nsei"
