name: release-mirror

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-beta.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-next.[0-9]+'

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  publish-github-mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install dependencies
        uses: ./.github/actions/install-deps
        with:
          registry-url: 'https://npm.pkg.github.com'

      - name: Build
        shell: bash
        run: pnpm ng build ngx-signal-store-query --configuration=production

      - name: Copy extra files
        shell: bash
        run: |
          cp LICENSE dist/libs/ngx-signal-store-query/LICENSE
          cp README.md dist/libs/ngx-signal-store-query/README.md

      - name: Transform package.json
        working-directory: dist/libs/ngx-signal-store-query
        shell: bash
        run: |
          TEMP_FILE=$(mktemp)
          jq '.name="@k3nsei/ngx-signal-store-query-core" | del(.publishConfig)' ./package.json > "${TEMP_FILE}"
          mv "${TEMP_FILE}" package.json

      - name: Publish package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: dist/libs/ngx-signal-store-query
        shell: bash
        run: npm publish --registry="https://npm.pkg.github.com" --scope="@k3nsei"
